[package]
name = "example"
version ="0.10.1"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pikav-api = { path = "../api" ,version ="0.10.1"}
pikav-client = { path = "../client" ,version ="0.10.1"}

actix-web = "4.0.1"
serde = { version = "1.0.81", features = ["derive"] }
serde_json = "1.0.81"
sqlx = { version = "0.6.0", features = [ "runtime-actix-rustls", "sqlite" ] }
rand = "0.8.5"
futures = "0.3.21"
actix-jwks = "0.1.0"
